<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="FbConString" connectionString="User=sysdba;Password=masterkey;Database=G:\PAYROLLDATABASE.FDB;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=100;Pooling=false;Packet Size=8192;" 
   providerName="FirebirdSql.Data.FirebirdClient" />
  <add name="HRSystem.My.MySettings.SubReportUsingFireBird" connectionString="Dsn=HRSYSODBC;uid=SYSDBA;pwd=masterkey;sqlservermode=true"
   providerName="System.Data.Odbc" />
  <add name="WindowsApp1.My.MySettings.SampleDatabaseConnectionString"
   connectionString="Data Source=DESKTOP-PPI8UTQ\SQLEXPRESS;Initial Catalog=SampleDatabase;User ID=sa;Password=masterkey"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>