<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net481" />
  <package id="EPPlus" version="8.0.0-beta" targetFramework="net481" />
  <package id="EPPlus.Interfaces" version="8.0.0" targetFramework="net481" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net481" />
  <package id="FirebirdSql.Data.FirebirdClient" version="10.3.2" targetFramework="net481" />
  <package id="Guna.UI2.WinForms" version="2.0.4" targetFramework="net481" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.1" targetFramework="net481" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net481" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net481" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1620.0" targetFramework="net481" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net481" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net481" />
  <package id="SkiaSharp" version="3.116.1" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.116.1" targetFramework="net481" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.116.1" targetFramework="net481" />
  <package id="Syncfusion.Compression.NET" version="29.1.40" targetFramework="net481" />
  <package id="Syncfusion.Licensing" version="29.1.40" targetFramework="net481" />
  <package id="Syncfusion.Pdf.Imaging.NET" version="29.1.40" targetFramework="net481" />
  <package id="Syncfusion.Pdf.NET" version="29.1.40" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Formats.Asn1" version="9.0.1" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Xml" version="9.0.1" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>